<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info alert-tie" role="alert" id="tie" style="display: none;">Your last game ended with a tie&hellip; or someone left the game.</div>
	</div>
</div>

<div id="section-lobby">
	<div class="row">
		<h1 class="col-md-8">Lobby</h1>

		<div class="col-md-4 text-right logout-box">
			<span class="label label-danger disconnected-warning">Disconnected</span>
			<a href="/logout">Logout</a>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-warning" role="alert" id="loss" style="display: none;">You lost and have to play again, I've put you in the queue again.</div>

			<p>Wait in the queue until we can match you with two other opponents.</p>

			<p>Players waiting: <span id="playersInQueue"></span> (including you)</p>
		</div>
	</div>
</div> <!-- /#section-lobby -->

<div id="section-game" style="display: none;">
	<div class="row">
		<h1 class="col-md-8">Game</h1>

		<div class="col-md-4 text-right logout-box">
			<span class="label label-danger disconnected-warning">Disconnected</span>
			<a href="/logout">Logout</a>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-warning" role="alert" id="pause" style="display: none;">
				Waiting for a player to reconnect.
				<a href="#" id="leaveAndJoinQueue" class="btn btn-primary" style="display: none;">Leave this game</a>
			</div>

			<div class="alert alert-success" role="alert" id="victory" style="display: none;">
				You won! The password is: <code class="password" id="password"></code>
			</div>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-8">
			<p><span id="turn-status"></span> Next mark: <span id="turn-mark"></span></p>
		</div>
		<div class="col-md-4 text-right">
			Time remaining: <span id="timer"></span>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-12">
			<table class="table-game" id="game"></table>
		</div>
	</div> <!-- /.row -->
</div> <!-- /#section-game -->

<script src="./bundle.js"></script>

