<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info alert-tie" role="alert" id="tie" style="display: none;">Your last game ended with a tie&hellip; or someone left the game.</div>
	</div>
</div>

<div id="section-lobby">
	<div class="row">
		<h1 class="col-md-8">Lobby</h1>

		<div class="col-md-4 text-right logout-box">
			<span class="label label-danger disconnected-warning">Disconnected</span>
			<a href="/logout">Logout</a>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-warning" role="alert" id="loss" style="display: none;">You lost and have to play again, I've put you in the queue again.</div>

			<p>Čekej na hru.</p>

			<p>Players waiting: <span id="playersInQueue"></span> (including you)</p>
		</div>
	</div>
</div> <!-- /#section-lobby -->

<div id="section-game" style="display: none;">
	<div class="row">
		<h1 class="col-md-8">Game</h1>

		<div class="col-md-4 text-right logout-box">
			<span class="label label-danger disconnected-warning">Disconnected</span>
			<a href="/logout">Logout</a>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-warning" role="alert" id="pause" style="display: none;">
				Čekáme na hráče než se znova připojí.
				<a href="#" id="leaveAndJoinQueue" class="btn btn-primary" style="display: none;">Opustit hru</a>
			</div>

			<div class="alert alert-success" role="alert" id="victory" style="display: none;">
				Vyhrál/a jsi! Heslo je: <code class="password" id="password"></code>
			</div>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="game-info">
			<div class="col-md-8">
				<p><span id="turn-status" class="label"></span> Další značka: <span id="turn-mark" class="turn-mark"></span></p>
			</div>
			<div class="col-md-4 text-right">
				Zbývající čas: <span id="timer" class="timer"></span>
			</div>
		</div>
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-12">
			<table class="table-game" id="game"></table>
		</div>
	</div> <!-- /.row -->
</div> <!-- /#section-game -->

<script src="./bundle.js"></script>

