<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">

	<title>InterLos Tick Tac Toe</title>

	<link rel="stylesheet" href="/bootstrap.css">
	<style>
		.logout-box {
			margin-top: 30px;
		}

		.table-game {
			margin: 10px auto;
		}

		.table-game td {
			width: 34px;
			height: 34px;
			border: 2px solid #333;
			cursor: pointer;
			font-weight: bold;
			text-align: center;
			font-size: 23px;
		}

		.alert-tie {
			margin: 1em 0 0;
		}

		.game-info {
			font-size: 3em;
		}

		.timer, .turn-mark {
			font-weight: bold;
		}
	</style>
</head>
<body>
<div class="container">
	{{{body}}}
</div>
</body>
</html>
