<div class="row">
	<h1>Losí piškvorky</h1>
</div> <!-- /.row -->

<div class="row">
	<form action="/login" method="POST" class="form-horizontal col-sm-6 col-md-4">
		<div class="form-group">
			<input type="text" name="username" placeholder="Login" class="form-control">
		</div>

		<div class="form-group">
			<input type="password" name="password" placeholder="Password" class="form-control">
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Přihlásit</button>
		</div>
	</form>
</div> <!-- /.row -->
